@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4 fontay">Welcome To AppQuiz Test Portal</h3>

    <br />

    <img src="~/Images/hyfy_cavw_210901.jpg" width="150">
</div>
